<settings>
  <setting>
    <name>PLAYER_MOVING_DISTANCE</name>
    <value>10</value>
  </setting>
  <setting>
    <name>PLAYER_Y_POSITION_FROM_BOTTOM</name>
    <value>40</value>
  </setting>
  <setting>
    <name>LOGGER_VERBOSE</name>
    <value>false</value>
  </setting>
  <setting>
    <name>START_LEVEL</name>
    <value>1</value>
  </setting>
  <setting>
    <name>n</name>
    <value>NormalEnemy</value>
  </setting>
  <setting>
    <name>f</name>
    <value>FireEnemy</value>
  </setting>
</settings>

